.portfolio .frame h2 {
  color: var(--addColor); }

.portfolio .frame .projects {
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .portfolio .frame .projects .carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%; }
    .portfolio .frame .projects .carousel i {
      margin: 10px 0 10px 0;
      color: var(--addColor); }
    .portfolio .frame .projects .carousel i:hover {
      color: var(--textColor);
      animation: shake 0.5s; }
    .portfolio .frame .projects .carousel .miniatures.move {
      animation-name: moveCar;
      animation-duration: 0.4s; }
    .portfolio .frame .projects .carousel .miniatures {
      width: 100%;
      height: 100%;
      position: relative;
      top: var(--posCar);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      list-style: none;
      margin: 0;
      padding: 0; }
      .portfolio .frame .projects .carousel .miniatures li {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 20vh;
        width: 80%; }
        .portfolio .frame .projects .carousel .miniatures li div {
          width: 100%;
          height: 100%;
          overflow: hidden;
          border: 3px solid var(--addColor); }
        .portfolio .frame .projects .carousel .miniatures li img {
          position: relative;
          left: -50%;
          width: 30vw;
          z-index: 1; }
        .portfolio .frame .projects .carousel .miniatures li img:hover {
          opacity: 0.6; }
        .portfolio .frame .projects .carousel .miniatures li .overlay {
          position: absolute;
          bottom: 100%;
          left: 0;
          right: 0;
          background-color: var(--addColor);
          transition: .5s ease; }

.portfolio .frame .descrition {
  background-color: var(--bgColor);
  border: transparent;
  border-radius: 5px; }
  .portfolio .frame .descrition .bot {
    position: relative;
    top: -90.5%;
    left: 0;
    opacity: 0;
    z-index: 1;
    color: var(--bgColor);
    visibility: hidden; }
  .portfolio .frame .descrition .top {
    z-index: 10; }
  .portfolio .frame .descrition .top,
  .portfolio .frame .descrition .bot {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .portfolio .frame .descrition .top .imgContainer,
    .portfolio .frame .descrition .bot .imgContainer {
      height: 40vh;
      width: 45vw;
      border: 1px transparent;
      border-radius: 5px;
      overflow: hidden; }
      .portfolio .frame .descrition .top .imgContainer img,
      .portfolio .frame .descrition .bot .imgContainer img {
        width: 45vw; }
    .portfolio .frame .descrition .top .textContainer,
    .portfolio .frame .descrition .bot .textContainer {
      width: 100%;
      height: 25vh;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .portfolio .frame .descrition .top .textContainer p,
      .portfolio .frame .descrition .bot .textContainer p {
        z-index: 2;
        margin: 10px;
        padding: 10px;
        text-align: justify;
        width: 60%; }

.portfolioAnimation {
  animation-name: portfolioItemChange;
  animation-duration: 1s; }

@keyframes portfolioItemChange {
  from {
    opacity: 1;
    visibility: visible; }
  to {
    opacity: 0; } }

@keyframes moveCar {
  from {
    top: var(--prevPosCar); }
  to {
    top: var(--posCar); } }

.about i {
  display: none; }

.about .frame {
  display: flex;
  flex-direction: column; }
  .about .frame h2,
  .about .frame h3 {
    color: var(--addColor);
    margin: 0; }
  .about .frame .aboutText {
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5vh;
    overflow: hidden; }
    .about .frame .aboutText p {
      width: 30%;
      margin: 10px;
      padding: 0 20px 0 20px;
      text-align: justify;
      border: solid transparent;
      overflow: hidden; }
    .about .frame .aboutText img {
      width: 25vw;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 20px; }
  .about .frame .courses {
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; }
    .about .frame .courses a img {
      margin: 20px;
      width: 5vw;
      border: solid transparent;
      border-radius: 10px; }
    .about .frame .courses a img:hover {
      background-color: var(--addColor); }

:root {
  --addColor: #f8690a;
  --bgColor: #212d38;
  --textColor: #fff8f0;
  --bgColorTrans: #fff8f0ab;
  --bgImage: url("/src/img/bg1.jpg");
  --prevPosCar: 0;
  --posCar: 0;
  --prevPosAbout: 0;
  --posAbout: 0; }

body {
  margin: 0;
  background-color: var(--bgColor);
  color: var(--textColor);
  scroll-behavior: smooth; }

h1 {
  font-size: 3em;
  padding-top: 20vh; }

.grid-container {
  display: grid;
  grid-template-rows: 100vh 100vh 100vh; }

.media {
  color: var(--addColor); }
  .media i {
    padding: 10px; }
  .media i:hover {
    animation-name: shake;
    animation-duration: 0.3s;
    animation-iteration-count: 2; }

h1,
h2,
section {
  text-align: center; }

::-webkit-scrollbar {
  display: none; }

nav {
  width: 100vw;
  height: 45px;
  position: fixed;
  overflow: hidden;
  z-index: 100; }
  nav div {
    height: 40px;
    background-color: var(--addColor); }
  nav span i {
    margin: 5px;
    padding: 2px;
    border: 1px var(--addColor);
    border-radius: 5px;
    color: var(--bgColor); }
  nav span i:hover {
    color: var(--addColor);
    background-color: var(--bgColor); }
  nav button {
    color: var(--bgColor);
    border: 1px var(--addColor);
    border-radius: 5px;
    padding: 10px;
    margin: 0 2px 0 2px;
    background-color: var(--addColor);
    float: right;
    font-size: 1em; }
  nav button:hover {
    color: var(--addColor);
    background-color: var(--bgColor); }
  nav #bar {
    background-color: var(--textColor);
    height: 5px;
    width: 0; }

.page {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: var(--bgColor);
  background-image: var(--bgImage);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: luminosity;
  z-index: 1; }

.frame {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vw;
  width: 80vw;
  height: 80vh;
  border: solid 2px var(--addColor);
  border-bottom: transparent;
  border-top: transparent; }

.bottomLine {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: -200%;
  background-color: var(--bgColor); }
  .bottomLine p {
    margin: 6px;
    padding-left: 10px; }

@keyframes shake {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(45deg); }
  50% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(-45deg); }
  100% {
    transform: rotate(0deg); } }

@media all and (max-width: 960px) {
  .frame {
    width: 90vw; } }

@media all and (max-width: 640px) {
  .frame {
    width: 80vw;
    border: none;
    overflow: hidden; }
  .about {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .about i {
      display: inline; }
    .about .frame .aboutText {
      position: relative;
      width: 200%;
      justify-content: space-between;
      left: var(--posAbout); }
      .about .frame .aboutText p {
        width: 45%; }
      .about .frame .aboutText img {
        width: 25%; }
      .about .frame .aboutText .courses {
        width: 25%; } }

